.section-hero2 {
    position:relative;
    height: 626px;
    overflow: hidden;
}

.article {
    position: absolute;
    top: 116px;
    left: 111px;
    width: 600;
}

.hero-title2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    margin-bottom: 30px;
}

.hero-decst2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
}

.search-form {
    position: relative;
}

.form-input {
    width: 497.66px;
    height: 64px;
    background: #283036;
    border-radius: 15px;
}

.btn-search {
    position: absolute;
    width: 130.43px;
    height: 48px;
    left: 464.19px;
    top: 476px;
    background: #FF6E30;
    border-radius: 8px;
}

.background-img2 {
    position: absolute;
    left: 851px;
    width: 589px;
    height: 892px;

    background-image: url(../images/hero2/Illustration.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}