.team-section {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 84px;
}

.title-team {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0000);
}

.team-list__subtitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
}
.team-list__position {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 253, 253, 0.55);
}

.wrapper__team {
  display: inline;
  position: absolute;
  z-index: 100;
  top: 372px;
  left: 130px;

  border-radius: 8px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 23px;
  min-width: 265px;

  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(50px);

  border-radius: 8px;
}

.container {
  width: 1225px;
  margin: 0 auto;
}

.team-list__box {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-buttons {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  font-size: 50px;
  color: aqua;
}
.slider-buttons-next {
  right: 0;
}

.team-container {
  position: relative;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 44px;
    height: 6px;
    padding: 0;

    border: none;
    border-radius: 4px;
    background-color: #283036;

    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: #ff6e30;
  }
}

.wrapper-text {
  position: relative;
  max-width: 393px;
  width: 100%;

  padding-top: 120px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 0px;

  margin-right: auto;
}

.team__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.015em;

  color: rgba(255, 255, 255, 0.78);
}

.quotes {
  position: absolute;

  top: 10px;
  left: -25px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 250px;
  line-height: 320px;

  background: linear-gradient(
    188.88deg,
    rgba(252, 252, 252, 0) 20.34%,
    rgba(255, 255, 255, 0.5) 155.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transform: rotate(19.17deg);
}
