<section class="brands-section">
  <h2 class="brands-title">Trusted more than 150+ brand</h2>
  <ul class="brands-list">
    <li class="brands-item"><a href="">Microsoft</a></li>
    <li><a href="">Google</a></li>
    <li><a href="">Slack</a></li>
    <li><a href="">WordPress</a></li>
  </ul>
</section>
<section>
  <h2 class="title">Become a contributor?</h2>
  <p class="subtitle">
    Join us and get tips & tricks to become a great Designer and Developer
  </p>
  <form class="input-form">
    <input
      class="contributor-input"
      type="email"
      placeholder="Enter your email..."
    />
    <button class="join-us-button" type="submit">Join Us</button>
  </form>
</section>
