<footer>
  <section class="footer">
    <div class="logo-link">
      <a class="logo-footer-link" href="images/logo.png"> antools. </a>
      <p <a href="" class="footer-copyright">Copyright 2021. Antools</p>
      <p class="footer-paragraph">
        Antool is a web collection of information on paid or free Design and
        Development tools
      </p>
    </div>

    <div class="contacts">
      <address>
        <p class="footer-contact-us">Contact Us</p>
        <ul>
          <li class="contact-us-link">
            <a href="tel:+621987463">+621987463</a>
          </li>
          <li>
            <a
              class="contact-us-link"
              href="https://goo.gl/maps/LGmRyKVpeCW4xpxk9"
              >M Building, No.10 A</a
            >
          </li>
          <li class="contact-us-link">
            <a href="mailto:antools@awesome.com">antools@awesome.com</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="categories">
      <p class="categories__footer">Categories</p>
      <ul>
        <li class="categories__links">Design</li>
        <li class="categories__links">Development</li>
      </ul>
    </div>
    <div class="info">
      <p class="info__footer-company">Company Info</p>
      <ul>
        <li class="info__company-links">About Us</li>
        <li class="info__company-links">Our Partners</li>
        <li class="info__company-links">Blog</li>
      </ul>
    </div>
  </section>
</footer>
