<header>
    <a class="logo link" href="#">antools.</a>
    <nav>
        <ul class="menu">
            <li><a class="link" href="">Home</a></li>
            <li><a class="link" href="">Categories</a></li>
            <li><a class="link" href="">My Collections</a></li>
            <li><a class="link" href="">Blog</a></li>
        </ul>
        <ul>
            <li><button class="button" type="button">Login</button></li>
            <li><button class="button" type="button">Sign Up</button></li>
        </ul>
    </nav>
</header>