 <section class="hero">
        <h1 class="hero-title">Awesome tools for <br> Designer & Developer<span class="hero-title__point">.</span></h1>
        <p class="hero__desc">
          Antool is a web collection of information on paid or <br> free Design and Development tools
        </p>
        <form class="search-form">
          <label>
            <input type="text" name="search-field" class="search-field" placeholder="find more than 430+ tools...">
            <svg class="search-icon" width="24.08" height="24">
              <use href="images/symbol-defs.svg#icon-search"></use>
            </svg>
          </label>
          <button type="submit" class="search-button">Search</button>
        </form>
        <ul class="hero__socials">
          <li>
            <svg width="34" height="34">
              <use href="images/symbol-defs.svg#icon-bx_bxl-facebook"></use>
            </svg>
          </li>
          <li>
            <svg width="34" height="34">
              <use href="images/symbol-defs.svg#icon-bx_bxl-instagram"></use>
            </svg>
          </li>
          <li>
            <svg width="34" height="34">
              <use href="images/symbol-defs.svg#icon-bx_bxl-twitter"></use>
            </svg>
          </li>
        </ul>
        <svg class="main-illustration" width="589" height="892">
          <use href="images/symbol-defs.svg#icon-Illustration"></use>
        </svg>
      </section>