<section class="section-hero2">
  <span class="background-img2"></span>
  <div class="article">
    <h1 class="hero-title2">Awesome tools for Designer & Developer.</h1>
    <p class="hero-decst2">
      Antool is a web collection of information on paid or free Design and Development tools
    </p>
    <form class="search-form">
      <input class="subs form-input" placeholder="find more than 430+ tools..." type="text" name="text" id="search" />
      <!-- <label class="subs form-label" for="tel">E-mail</label> -->
      <button class="btn-search" type="submit">Search</button>
    </form>
  </div>
</section>