<section class="newcomer-3">
  <p class="start-label">Start Newcomer_2 section (by OrdDreamer)</p>
  <div class="newcomer-3__container">
    <div class="newcomer-3__description">
      <h2 class="newcomer-3__title">Newcomer Tools</h2>
      <p class="newcomer-3__text">
        Wow! see the latest update of the most recommended tools from reliable
        designers and developers
      </p>
      <button class="newcomer-3__more-button" type="button">
        Explore more
      </button>
    </div>

    <ul class="newcomer-3__tools-list">
      <li class="newcomer-3__list-item">
        <h3 class="newcomer-3__list-item-title">Zeplin</h3>
        <span class="newcomer-3__list-item-license">Free & Paid</span>
        <p class="newcomer-3__list-item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="newcomer-3__list-item">
        <h3 class="newcomer-3__list-item-title">PHPStorm</h3>
        <span class="newcomer-3__list-item-license">Free</span>
        <p class="newcomer-3__list-item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="newcomer-3__list-item">
        <h3 class="newcomer-3__list-item-title">Toolbox</h3>
        <span class="newcomer-3__list-item-license">Free</span>
        <p class="newcomer-3__list-item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="newcomer-3__list-item">
        <h3 class="newcomer-3__list-item-title">Procreate</h3>
        <span class="newcomer-3__list-item-license">Paid</span>
        <p class="newcomer-3__list-item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
    </ul>
  </div>
  <p class="end-label">End Newcomer_2 section (by OrdDreamer)</p>
</section>
