<section class="newcomer-section">
    <div class="newcomer-about">
        <h2 class="title">Newcomer Tools</h2>
        <p class="subtitle">
            Wow! see the latest update of the most recommended tools from reliable designers and
            developers
        </p>
        <button type="button" class="btn">Explore more</button>
    </div>
    <ul class="newcomer-tools">
        <li class="newcomer-tools-list">
            <a href="">
                <svg class="newcomer__icon" width="64" height="64">
                    <use href="images/newcomer/zeplin.svg"></use>
                </svg>
                <h3 class="tools-title">Zeplin</h3>
                <span class="tools-application">Free & Paid</span>
                <p class="tools-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </a>
        </li>
        <li class="newcomer-tools-list">
            <a href="">
                <div class="flex">
                    <img src="images/newcomer/jb-phpstorm.png" alt="" width="64" height="64">
                    <div>
                        <h3 class="tools-title">PHPStorm</h3>
                        <span class="tools-application">Free</span>
                    </div>    
                </div>
                <p class="tools-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <svg class="newcomer__icon" width="28" height="28">
                    <use href="images/newcomer/flat-color-icons_like.svg"></use>
                </svg>
            </a>
        </li>
        <li class="newcomer-tools-list">
            <a href="">
                <h3 class="tools-title">Toolbox</h3>
                <span class="tools-application">Free</span>
                <p class="tools-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </a>
        </li>
        <li class="newcomer-tools-list">
            <a href="">
                <h3 class="tools-title">Procreate</h3>
                <span class="tools-application">Paid</span>
                <p class="tools-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </a>
        </li>
    </ul>
</section>
<div class="modal" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <p class="modal__title">Заголовок окна 2</p>
</div>