<section class="team-section">
  <h2 class="title-team">Our Team</h2>

  <div class="container team-container">
    <button class="slider-buttons slider-buttons-prev"><</button
    ><button class="slider-buttons slider-buttons-next">></button>
    <ul class="team-list">
      <li class="team-list__item">
        <div class="team-list__box">
          <div class="wrapper-person">
            <img
              src="images/david-suarez.png"
              alt="david-suarez"
              width="399"
              height="492"
            />
            <div class="wrapper__team">
              <h3 class="team-list__subtitle">Ronald Richards-1</h3>
              <p class="team-list__position">Product Manager</p>
            </div>
          </div>
          <div class="wrapper-text">
            <span class="quotes">“</span>
            <p class="team__text">
              Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
              reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do
              nulla velit labore occaecat do deserunt Lorem magna officia
              incididunt consectetur amet. Sunt consectetur veniam minim ex
              commodo sint non. Occaecat aute officia excepteur non laboris id
              qui ad.
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__box">
          <div class="wrapper-person">
            <img
              src="images/david-suarez.png"
              alt="david-suarez"
              width="399"
              height="492"
            />
            <div class="wrapper__team">
              <h3 class="team-list__subtitle">Ronald Richards-2</h3>
              <p class="team-list__position">Product Manager</p>
            </div>
          </div>
          <div class="wrapper-text">
            <span class="quotes">“</span>
            <p class="team__text">
              Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
              reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do
              nulla velit labore occaecat do deserunt Lorem magna officia
              incididunt consectetur amet. Sunt consectetur veniam minim ex
              commodo sint non. Occaecat aute officia excepteur non laboris id
              qui ad.
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__box">
          <div class="wrapper-person">
            <img
              src="images/david-suarez.png"
              alt="david-suarez"
              width="399"
              height="492"
            />
            <div class="wrapper__team">
              <h3 class="team-list__subtitle">Ronald Richards-3</h3>
              <p class="team-list__position">Product Manager</p>
            </div>
          </div>
          <div class="wrapper-text">
            <span class="quotes">“</span>
            <p class="team__text">
              Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
              reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do
              nulla velit labore occaecat do deserunt Lorem magna officia
              incididunt consectetur amet. Sunt consectetur veniam minim ex
              commodo sint non. Occaecat aute officia excepteur non laboris id
              qui ad.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
