<section>
  <div class="container">
    <h2 class="title">Most Popular Tools</h2>
    <p class="subtitle">
      Tools for the best Designers and Developers most popularly used in the
      world
    </p>
  </div>
  <ul class="tools-list">
    <div class="tools-list_container">
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
      <li class="tools-list__item">
        <div class="tools-list__description">
          <h3 class="tools-list__title">FIGMA</h3>
          <span class="tools-list__application">Free</span>
          <p class="tools-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </li>
    </div>
  </ul>
  <button class="secondary-button" type="button">Load more</button>
</section>
